* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.header {
	width: 100%;
	height: auto;
	border: 1px solid gray;
}
.gird {
	display: inline-block;
}
.col-1 {
	width: 16.66%;
}
.col-3 {
	width: 50%;
}
.col-4 {
	width: 66.664%;
}
.menu {
	float: left;
	font-size: 25px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.time-down {
	/*width: 100%;*/
	display: inline-block;
	height: 50px;
	float: left;
	font-size: 40px;	
	line-height: 50px;
	text-align: center;
	color: red;
}
.start-btn {
	float: right;
	font-size: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}


.cell-wrapper {
	width: 320px;
	max-width: 400px;
	/*height: 500px;*/
	margin: 40px auto;
	position: relative;
	float: right;
	left: -50%;
	/*border: 1px solid gray;*/
}

.cell-group {
	text-align: center;
	font-size: 0;
	position: relative;
	left: 50%;
	/*border: 1px solid blue;*/
}
.cell-item {
	font-size: 16px;
	/*display: inline-block;*/
	float: left;
	width: 80px;
	height: 100px;
	border: 1px solid red;
	box-sizing: border-box;
	/*border-bottom: 0;*/
}
.cell-item:nth-child(4n-2) {
	border-left: 0;
	border-right: 0;
}
.cell-item:nth-child(4n-1) {
	border-right: 0;
}

.border-un-bottom {
	border-bottom: none;
}

.cell-item span {
	display: inline-block;
    line-height: 100px;
    height: 100px;
    font-size: 30px;
}
.has-num {
	/*background: #DAC6C6;*/
	background: #7878D6;
}
.right-cell {
	background: #7878D6;
}
.clear{
	clear: both;
}